* {
}

.App {
  background-color: #01244d;
  color: white;
}

.App-link {
  color: #61dafb;
}

.card {
  width: 300px;
  height: 350px;
  padding: 1px;
  margin-bottom: 20px;
}

.card-body {
  text-align: center;
  background-color: #f0f0f0;
}

.card-img {
  height: 210px;
}

.card-title {
  text-decoration: underline;
  background-color: #f0f0f0;
}

.card-text {
  color: black;
  background-color: #f0f0f0;
}

.btn-danger {
  float: right;
}

.reports-container {
  background-color: white;
  color: #262626;
  margin-top: 12px;
  padding-bottom: 5px;
}

.reports-container h4 {
  height: 32px;
  background-color: #ebebeb;
  padding-left: 5px;
}

.reports-container p {
  padding-bottom: 10px;
  padding-left: 5px;
}

.report-form {
  border-top: 1px solid #ebebeb;
  margin-top: 5px;
  padding-top: 10px;
  padding-left: 5px;
}

div.player-show-badge {
  margin-top: 60px;
  text-align: justify;
}
